<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>View Recipe</title>
</head>
<body class="text-center">

	<div layout:fragment="content">
		<main class="main-content">
			<h1>Recipe</h1>
			<div class="row">
				<p class="text">
					Cheese Type: <span th:text="${recipe.cheeseType}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					Cheese Hardness: <span th:text="${recipe.hardness}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					Milk Type: <span th:text="${recipe.milkType}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					Ingredients: <span th:text="${recipe.ingredients}"></span>
				</p>
			</div>
			<div class="row">
				<h3>Instructions</h3>
			</div>
			<div class="row">
				<p class="text">
					1. Warm  the Milk: <span th:text="${recipe.warmTheMilk}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					2. Culture and Coagulate: <span th:text="${recipe.cultureAndCoagulate}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					3. Ladle the Curd: <span th:text="${recipe.ladleTheCurd}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					4. Drain the Curd: <span th:text="${recipe.drainTheCurd}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					5. Target Flavor and Texture: <span th:text="${recipe.targetFlavorAndTexture}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					6. Storage: <span th:text="${recipe.storage}"></span>
				</p>
			</div>
			<div class="row">
				<p class="text">
					Additional Notes: <span th:text="${recipe.notes}"></span>
				</p>
			</div>
		</main>
	</div>

</body>
</html>