<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Dashboard</title>
</head>
<body class="text-center">

	<div layout:fragment="content">
		<main class="main-content">
			<h1>
				Hello, <span th:text="${firstName}"></span>
			</h1>
			<div class="d-flex flex-column">
				<th:block th:if="${recipes != null}">
					<th:block th:each="recipe: ${recipes}">
						<div class="justify-content-center">
							<div class="card" style="width: 60%; margin: auto;">
								<h5 class="card-title" th:text="${recipe.recipeName}"></h5>
								<p class="card-text" th:text="${recipe.description}"></p>
								<div class="d-flex justify-content-around">
									<a th:href="@{/cheese/{recipeId}(recipeId=${recipe.id})}"
										class="btn btn-primary" role="button">Details</a> <a
										th:href="@{/cheese/edit/{recipeId}(recipeId=${recipe.id})}"
										class="btn btn-primary" role="button">Edit</a>
								</div>
							</div>
						</div>
					</th:block>
				</th:block>
			</div>
		</main>
	</div>

</body>
</html>