<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Login</title>
<link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
	<div layout:fragment="content" class="signin-form">
		<main class="form-signin">
			<form th:action="@{/login}" th:object="${loginForm}" method="post">
				<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

				<div class="form-floating">
					<input type="text" class="form-control" id="floatingInput"
						name="username" placeholder="Username"> <label
						for="floatingInput">Username</label>
				</div>
				<div class="form-floating">
					<input type="password" class="form-control" id="floatingPassword"
						name="password" placeholder="Password"> <label
						for="floatingPassword">Password</label>
				</div>
				
				<div>
					<p>Need an Account: <a th:href="@{/register}">Register Here</a></p>
				</div>
				<button class="w-100 btn btn-lg btn-primary" type="submit">Sign
					in</button>
			</form>
		</main>
	</div>

</body>
</html>